[*.cs]

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = silent

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1814: Prefer jagged arrays over multidimensional
dotnet_diagnostic.CA1814.severity = none

# CA1707: Remove the underscores from assembly name Sk8M8_API.
dotnet_diagnostic.CA1707.severity = none

[Migrations/*]
generated_code = true
